<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {
    title : 'DETALLE'
}) %>

  <body>
    <%- include('../partials/header') %>
    
    <main>
      <section class="item">
        <picture class="item__picture">
            <span class="card__picture--pill" style="display:none;"></span>
            <img class="item_picture--img item_picture--img--1" src="/img/" alt=" - Figura">
            <img class="item_picture--img item_picture--img--2" src="/img/" alt=" - Caja">
        </picture>
        <article class="item__info">
            <p class="item__info--licence">nombre categoria</p>
            <h2 class="item__info--name">nombre pro</h2>
            <p class="item__info--description"> nombre</p>
            <p class="item__info--price">$ 234234</p>
            <form class="item__form" action="/cart/add/" method="POST" enctype="application/x-www-form-urlencoded">
                <div class="item__form--container">
                    <button class="item__form--btn" type="button">-</button>
                    <input class="item__form--input" type="text" placeholder="0">
                    <button class="item__form--btn" type="button">+</button>
                </div>
                <input class="item__form--submit" type="submit" value="Agregar al Carrito">
            </form>
        </article>
    </section>

  </main>
      <aside class="home__aside">
        <section class="section__aside--descripcion">
          <h3>Descripción:</h3>
          <p>Disfruta de un exquisito Trapiche Malbec Finca Coletto, un vino tinto de alta calidad proveniente de la
            prestigiosa bodega Trapiche en Mendoza, Argentina. Este Malbec del año 2015, originario del Valle de Uco, es
            perfecto para compartir en una cena especial o para disfrutar en una noche tranquila en casa. Con sus 750 mL
            de
            contenido en una elegante botella, este vino es ideal para degustar en cualquier ocasión. A pesar de no ser
            orgánico, su sabor y aroma te transportarán a los viñedos de Mendoza, donde se cultivan las mejores uvas
            Malbec
            del país. No pierdas la oportunidad de deleitar tu paladar con este exquisito vino Trapiche Malbec Finca
            Coletto, una opción única y sofisticada para los amantes del buen vino.</p>
        </section>
      </aside>



      <%- include('../partials/footer') %>
        </div>

  </body>

</html>