/* .item {
  margin: auto;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
.item__picture {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.item__picture--pill {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.6em;
  font-weight: 600;
  background-color: #ff7070;
  color: #ffffff;
  padding: 1rem 2rem;
}
.item__picture--img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: contain;
  animation: fade 0.7s;
}
.item__picture--img--2 {
  display: none;
}
.item__picture:hover .item__picture--img--1 {
  display: none;
}
.item__picture:hover .item__picture--img--2 {
  animation: fade 0.7s;
  display: block;
}
.item__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  flex-grow: 1;
}
.item__info--licence {
  font-size: 1.6em;
  color: #4f4f4f;
  font-weight: 400;
}
.item__info--name {
  font-size: 3.8em;
}
.item__info--description {
  font-size: 2.4em;
  color: #4f4f4f;
  font-weight: 400;
  max-width: 70%;
}
.item__info--price {
  font-size: 3.8em;
}
.item__form {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.item__form--btn, .item__form--input {
  padding: 0.4rem;
  font-size: 2.4em;
  width: 50px;
  text-align: center;
}
.item__form--btn {
  background-color: #4f4f4f;
  color: #ffffff;
  border: 3px solid #4f4f4f;
  cursor: pointer;
}
.item__form--btn:hover {
  opacity: 0.7;
}
.item__form--submit {
  background-color: #ff3333;
  color: #ffffff;
  font-size: large;
  padding: 1rem 1.5rem;
  border: none;
  cursor: pointer;
}
.item__form--submit:hover {
  background-color: #ff7070;
} */
.collection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  gap: 10rem;
  margin: auto;
}
.collection__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  flex-grow: 1.5;
}
.collection__info--title {
  font-size: 3.8em;
  font-weight: 500;
  width: 70%;
}
.collection__info--desc {
  font-size: 1.8em;
  font-weight: 400;
  color: #4f4f4f;
  border-bottom: 3px solid #ff3333;
  width: 100%;
  padding-bottom: 2rem;
}
.collection__info--link {
  margin-top: 2.5rem;
  font-weight: 500;
  color: #ffffff;
  background-color: #111111;
  padding: 1.3rem 4.5rem;
  text-align: center;
  border-radius: 50px;
  transition: background 0.3s ease;
}
.collection__info--link:hover {
  background-color: #ff3333;
  color: #ffffff;
}
.collection__picture--img {
  object-fit: scale-down;
  object-position: right;
}
.collection .order {
  order: -1;
}
.collection .order img {
  object-position: left;
}